.sport__image{
    width: 100%;
    height: auto;
}
 //l'espace entre contenu__dop et active c'est pour m'abattre
.contenu__sport.active{
    top: 10%;
}
@media (min-width: 900px) {

    .contenu__btnSport{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contenu__sport{
        display: block;
        position: absolute;
        background-color: $c-bleufoncer;
        border: 3px solid $c-bleuclaire;
        border-radius: 10px;
        padding: $size-text-tel;
        height: auto;
        width: 100%;
        opacity: 0;
        transition: .2s ease;
        z-index: 10; 
      }
      .contenu__btnSport:hover .contenu__sport{
        opacity: 1;
      }
}