
$c-bac:#111217;
$c-text: #F3FDFF;
$c-bleufoncer:#40575C;
$c-bleuclaire: #9AD2D9;
$c-yellow: #FFE100;

$size-lien-tel: 9px;
$size-text-tel: 16px;
$size-soustitre-tel: 28px;
$size-titre-tel: 48px;
$size-med-tel: 83px;
$size-big-tel: 144px;

$size-lien-tab: 11px;
$size-text-tab: 19px;
$size-soustitre-tab: 33px;
$size-titre-tab: 57px;
$size-med-tab: 99px;
$size-big-tab: 171px;

$size-lien-pc: 12px;
$size-text-pc: 21px;
$size-soustitre-pc: 36px;
$size-titre-pc: 63px;
$size-med-pc: 109px;
$size-big-pc: 189px;

.figtree {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.faster-one-regular {
    font-family: "Faster One", system-ui;
    font-weight: 400;
    font-style: normal;
  }

$font-texte:"Figtree", sans-serif;
$font-titre:"Faster One", system-ui;
  